<html>
<head>
  <title>Movies</title>
</head>
<body>
{% for movie in titles %}
  <h1>{{ movie.original_title}}</h1>
  {% autoescape off %}
    <p>{{ movie.overview }}</p>
    <p>{{ movie.ratings }} / 10</p>
  {% endautoescape %}
 <!--  <h2>Ingredients</h2>
  <ul>
    {% for ingredient in recipe.ingredient_set.all %}
    <li>{{ ingredient.desc }}</li>
    {% endfor %}
  </ul>
  <h2>Instructions</h2>
  {% autoescape off %}
    <p>{{ recipe.instructions }}</p>
  {% endautoescape %} -->
{% endfor %}
</body>
</html>
